<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created for Epics Project. It uses data from mapbox.com and TomTom</p>
        <p>Team members:
           <ul> 1. karthik abhiram - 40130175</ul>
           <ul> 2. ayyappa chowdary - 40130137</ul>
           <ul> 3.thanooz - 40130135</ul>
           <ul> 4.manikanta - 40130134</ul>
        </p>
    </div>
    
    {{>footer}}
</body>

</html>