<!DOCTYPE html>

<html>

<head>
    <title>Traffic detection</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your Traffic Data!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1">free flow speed will tells you about daily average speed</p>
        <p id="message-2">current speed tells you about real-time speed</p>
        <b><p id="message-3">we will tell you time to start your journey😃</p></b>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>